.header {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: calc((34px / 1200px) * 100%);
  justify-content: flex-end;
  position: fixed;
  background-color: $backroundColor;
}

@include desktop_xxl {
  .header {
    max-width: 90%;
    padding: 0;
    align-items: center;

  }
}

