// mixins for breakpoints

@mixin desktop_xxl() {
  @media screen and (max-width: $breakpoint_desktop_xxl) {
    @content;
  }
}

@mixin desktop_xl() {
  @media screen and (max-width: $breakpoint_desktop_xl) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (max-width: $breakpoint_tablet) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: $breakpoint_mobile) {
    @content;
  }
}

// fonts mixins

@mixin headerFont_desktop() {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: $mainFontColor_whiteTheme;
  line-height: 18px;
  font-weight: 500;
}

@mixin mainTitles() {
  font-family: "Inter", sans-serif;
  font-size: 55px;
  color: $mainFontColor_whiteTheme;
  line-height: 60px;
  font-weight: 700;
}

@mixin subtitles() {
  font-family: "inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $addFontColor_whiteTheme;
  line-height: 28px;
  opacity: 70%;
}

@mixin button() {
  font-family: "inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1px;
  color: $mainFontColor_darkTheme;
}

@mixin introDescription() {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: $mainFontColor_whiteTheme;
}

@mixin menuMobile() {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: $mainFontColor_whiteTheme;
}

@mixin mainTitles_320() {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: $mainFontColor_whiteTheme;
}

@mixin introsubtitle_320() {
  opacity: 70%;
  color: $addFontColor_whiteTheme;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

@mixin quota_title() {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 44px;
  font-size: 34px;
  color: $mainFontColor_whiteTheme;
}

@mixin quota_author() {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: $mainFontColor_whiteTheme;
}

@mixin quota_job() {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 28px;
  opacity: 70%;
  font-weight: 400;
  color: $addFontColor_whiteTheme;
}

@mixin quota_title_320px() {
  font-family: "Inter", sans-serif;
  font-size: 23px;
  line-height: 29px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: $mainFontColor_whiteTheme;
}

@mixin quota_author_320px() {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: $mainFontColor_whiteTheme;
}

@mixin quota_job_320px() {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 16px;
  opacity: 70%;
  color: $addFontColor_whiteTheme;
}
