// цвета для шрифтов

$mainFontColor_whiteTheme: #151515;
$addFontColor_whiteTheme: #222222;
$mainFontColor_darkTheme: #ffffff;
$addFontColor_darkTheme: #e6e6e6;
$buttonColor: #24b47e;
$buttonColor_animation: #319e75;
$linecolor: #e3e3e3;

//backround color

$backroundColor: #f4f4f4;

// breakpoints

$breakpoint_desktop_xxl: 1239px;
$breakpoint_desktop_xl: 1024px;
$breakpoint_tablet: 767px;
$breakpoint_mobile: 640px;
